<html>
    <head>
        <title>Ara's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Ara's blog</a></h1>
        </div>
        <div>
            <p>published: 05.10.2019, 05:02</p>
            <h2><a href="">My first post</a></h2>
            <p>This is Ara's first blog. Which styles are you most interested in? Choose 2 styles below.</p>
        </div>
        <div>
            <p>published: 05.10.2019, 05:02</p>
            <h2><a href="">My second post</a></h2>
            <p>What's your favorite restaurants in San Diego? Comment below.</p>
        </div>
     </body>
</html>
