<html>
    <head>
        <title>Ara's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Ara's blog</a></h1>
        </div>

    {% for post in posts %}
         <div>
            <p>published: {{ post.published_date }}</p>
            <h2><a href="">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaksbr }}.</p>
        </div>
    {% endfor %}
        <div>
            <p>published: 05.10.2019, 11:02</p>
            <h2><a href="">Special post</a></h2>
            <p>Let's do some pole jam! Who's interested in?</p>
        </div>

     </body>
</html>
